body   
{
    color: #000000;
}

 h1	{text-align:center ; color:#0000ff }
 h2 { color:#ff0000 ; margin-top:0px; margin-bottom:0px; }
 h3 { color:#008800 ; margin-top:0px; margin-bottom:0px; }

strong {
	font-weight:bolder;
	color:#FF0000;
 }

 .prg	{
	border:solid;
	border-color:#000000;
	border-width:1px;
	background-color:#aaffaa;
	padding:10px;
 }

 a:link		{color:#0000FF}
 a:visited	{color:#AA00AA}
 a:hover	{color:#FF0000}
.com {
	padding:0.8em;
	background: #eee;
	color: black;
	border: 1px solid gray;
	margin-left:0em;
	margin-right:0em;
}
/**** toolbar ******/
.toolbutton
{
	width:24px;
	height:24px;
  border:0px; 
}

.toolbutton_highlight
{
	width:24px;
	height:24px;
  background-color:#fff;
}

header {
	min-width: 1060px;
	overflow: hidden;
	border-bottom: 2px solid #9fb7d4;
}

header h1 {
	width: 1060px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}
header h2 {
	width: 1060px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

#contents {
	overflow: hidden;
	width: 100%;/*1060px;*/
	margin: 0 auto;
}
#contents nav {
	width: 100%;/*1060px*/;
	margin: 0 auto;
	overflow: hidden;
	background: #ddd;
}
#contents nav ul {
	padding: 0 0 0 0;
	margin: 0 0 0 10px;
	list-style: none;
	overflow: hidden;
}
#contents nav ul li {
	float: left;
	margin: 4px 0 6px 10px;
}

#contents #main {
	float: right;/*サイドバーを左に配置したい場合はrightを指定*/
	width: 83%; /*760px;*/
	overflow: hidden;
	background: #FFFFFF;/* #9fb7d4;*/
}
	#contents #main article {
		overflow: hidden;
		padding: 10px;
	}
#contents aside {
	float: right;/*サイドバーを左に配置したい場合はrightを指定*/
	width: 17%; /*240px;*/
	overflow: auto; /*scroll;*/ /*hidden;*/
	border: 1px solid gray; /* background: #fff; #ccc;*/
}

#contents aside p {
		/*padding: 10px;*/
	}
footer {
	min-width: 1060px;
	overflow: hidden;
	border-top: 2px solid #9fb7d4;
}
	footer #copyright {
		width: 1060px;
		margin: 0 auto;
		padding: 10px;
	}
